#page-top {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    cursor: default;
    font-weight: 500;
    overflow-x: hidden;
}

header {
    position: fixed;
    display: block;
    width: 100vw;
    height: 48px;
    z-index: 8;
}

.title {
    position: relative;
    display: flex;
}

h1 {
    position: relative;
    display: inline;
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
    color: #fff;
}

#area-message {
    position: relative;
    display: block;
    width: 100vw;
    top: 48px;
    height: calc(100vh - 264px);
    text-align: center;
}

#text-message {
    position: absolute;
    display: inline-block;
    height: 96px;
    line-height: 96px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 72px;
    color: #000;
    font-weight: 300;
    z-index: 6;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
}

.area-social {
    position: absolute;
    display: block;
    width: 96px;
    height: 36px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.text-social {
    position: relative;
    display: inline-block;
    line-height: 36px;
    font-size: 15px;
    color: #fff;
}

#area-top {
    background: rgba(51, 199, 247, 0.9);
    right: 336px;
}

#area-about {
    background: rgba(223, 160, 200, 0.9);
    right: 232px;
}

#area-blog {
    background: rgba(175, 180, 43, 0.9);
    right: 128px;
}

#area-portfolio {
    background: rgba(0, 121, 107, 0.9);
    right: 24px;
}

@media screen and (max-height:359px) {
    #text-message {
        display: none;
    }
    #infomation {
        bottom: 0;
        top: 96px;
    }
}

@media screen and (max-width:959px) {
    .header {
        height: 96px;
    }
    #area-myname {
        position: absolute;
        display: block;
        width: calc(100vw - 48px);
        height: 48px;
        left: 24px;
        right: 24px;
    }
    .area-social {
        top: 48px;
        margin-right: 16px;
    }
}

@media screen and (max-width:767px) {
    .header {
        height: 48px;
    }
    .area-social {
        top: 0px;
        width: 25vw;
        margin: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        box-shadow: 0px 0px 0px 0px;
    }
    #area-top {
        left: 0;
    }
    #area-about {
        left: 25vw;
    }
    #area-blog {
        left: 50vw;
    }
    #area-portfolio {
        left: 75vw;
    }
    #area-message {
        position: relative;
        display: block;
        width: 100vw;
        top: 84px;
        height: calc(100vh - 180px);
        text-align: center;
    }
    #text-message {
        font-size: 48px;
    }
}
